.ProductDetailsRelated {
  display: flex;
  flex-direction: column;
  width: 1010px;
  margin: auto;

  .relation-title {
    span {
      &:first-child {
        display: block;
        width: 20px;
        height: 5px;
        background-color: #000;
      }

      &:last-child {
        text-transform: uppercase;
        font-size: 13px;
      }
    }
  }

  .relation-cardlist {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    & button {
      width: 30px;
      height: 320px;
      background-color: #fff;
      border: 0px;
      background-repeat: no-repeat;
      cursor: pointer;
      z-index: 1;

      & i {
        color: #808080;
        font-size: 25px;
      }

      & :last-child {
        left: 1010px;
      }
    }

    .relation-card {
      width: 940px;
      overflow: hidden;

      & ul {
        display: flex;
        flex-direction: row;

        li {
          min-width: 180px;
          margin-right: 10px;
          border: 1px solid #ddd;

          .relation-card-thumb {
            height: 230px;
            overflow: hidden;

            & img {
              width: 100%;
              height: 100%;
            }
          }

          .relation-card-desc {
            height: 100px;
            min-height: 75px;
            padding: 10px;
            line-height: 18px;
            font-size: 14px;
            & div:last-child {
              padding: 5px 0;
            }
          }
        }
      }
    }
  }
}
