.UserInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 296px;
  background-color: #f7f7f7;

  .user-info-small-container {
    display: flex;
    width: 55%;
    height: 60%;

    > div {
      margin: 0 5px;
      background-color: #fff;

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }

    .user-ranking {
      flex: 2.2;

      .top {
        display: flex;
        height: 60%;

        .current-ranking {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            color: #929b96;
            border: 1px solid #000;
            border-radius: 4px;
            font-size: 16px;
          }
        }

        .ranking-information {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 2;

          p {
            font-size: 11px;
          }

          .name {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;

            span {
              font-size: 14px;
              font-weight: normal;
            }
          }

          .mileage-rating {
            margin-bottom: 5px;
          }
        }
      }

      .bottom {
        display: flex;
        justify-content: flex-end;
        height: 40%;
        padding-right: 10px;

        button {
          height: 50%;
          padding: 0px 6px;
          outline: none;
          border: none;
          border-radius: 20px;
          cursor: pointer;
        }

        button:last-child {
          margin-left: 10px;
        }
      }
    }

    .user-point {
      flex: 1;
      > div {
        height: calc(100% / 3);
        padding-left: 15px;
        &:first-child {
          display: flex;
          align-items: center;
          span {
            font-size: 14px;
          }
        }

        &:last-child {
          p {
            cursor: pointer;
          }

          p:first-child {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 700;

            span {
              margin-left: 5px;
              color: #dbdbdb;
            }
          }

          p:last-child {
            color: #929b96;
            font-size: 11px;
            font-weight: 700;
          }
        }
      }
    }

    .user-coupon {
      flex: 1;

      > div {
        height: calc(100% / 3);
        padding-left: 15px;
        &:first-child {
          display: flex;
          align-items: center;
          span {
            font-size: 14px;
          }
        }

        &:last-child {
          p {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;

            span {
              margin-left: 5px;
              color: #dbdbdb;
            }
          }
        }
      }
    }

    .user-pass {
      flex: 1;

      > div {
        height: calc(100% / 3);
        padding-left: 15px;
        &:first-child {
          display: flex;
          align-items: center;
          span {
            font-size: 14px;
          }
        }

        &:last-child {
          p {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;

            span {
              margin-left: 5px;
              color: #dbdbdb;
            }
          }
        }
      }
    }
  }
}
