.PurchaseElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  border: 1px solid #dbdbdb;

  > div {
    width: 95%;
  }

  .top {
    position: relative;
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;

    span {
      position: absolute;
      top: 50%;
      font-weight: bold;
      transform: translateY(-50%);
    }

    i {
      position: absolute;
      top: 50%;
      right: 0;
      color: var(--primary-color);
      font-size: 20px;
      transform: translateY(-50%);
    }
  }

  .bottom {
    display: flex;
    height: 79px;

    img {
      width: 60px;
      height: 77px;
      margin-right: 20px;
    }

    .purchase-information {
      width: 75%;
      height: 100%;
      padding: 5px 0;

      div {
        height: calc(100% / 3);

        span {
          font-size: 13px;

          &:first-child {
            margin-right: 10px;
          }

          &:last-child {
            font-weight: bold;
          }
        }
      }
    }

    .option-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(25% - 77px);

      button {
        width: 80%;
        height: 40%;
        background-color: white;
        outline: none;
        border: 1px solid var(--primary-color);
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;

        &.review {
          margin-bottom: 5px;
          background-color: var(--primary-color);
          color: white;
        }

        &.help {
          color: var(--primary-color);
        }
      }
    }
  }
}
