@import "../../../../Styles/Mix.styles.scss";

.ProductDetailsCard {
  min-width: 180px;
  margin-right: 10px;
  border: 1px solid #ddd;
  @include resizeSet;

  .relation-card-thumb {
    height: 230px;
    overflow: hidden;
  }

  .relation-card-desc {
    height: 90px;
    min-height: 75px;
    padding: 10px;
    color: black;
    line-height: 18px;
    font-size: 14px;

    & div:last-child {
      padding: 5px 0;
    }
  }
}
