.ProductList {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 0 auto;

  .category-nav {
    padding: 26px 0 0 29px;

    .category-title {
      padding-bottom: 10px;

      i {
        color: var(--primary-color);
        font-size: 40px;
      }

      span {
        line-height: 18px;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .category-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 970px;
      overflow: hidden;

      & > ul {
        display: flex;
        flex-direction: row;

        li {
          padding: 0 13px 7px 12px;
          line-height: 20px;
          font-size: 12px;
          cursor: pointer;
          border-bottom: 1px solid #ddd;
          transition: ease 0.3s;

          &:hover {
            color: var(--primary-color);
            font-weight: 700;
            border-bottom: 1px solid var(--primary-color);
          }
        }
      }

      .sort-trigger {
        line-height: 20px;
        font-size: 12px;
        cursor: pointer;
        transition: ease 0.3s;

        i {
          padding-left: 8px;
        }
      }

      .sort-list {
        position: absolute;
        width: 106px;
        height: 220px;
        margin-top: 28px;
        margin-left: 875px;
        background-color: #fff;
        box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.28);
        user-select: none;
        cursor: pointer;
        z-index: 1;

        & > ul {
          display: flex;
          flex-direction: column;

          li {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 44px;
            padding-right: 13px;
            font-size: 12px;
            transition: ease 0.3s;

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }

  .card-list {
    padding: 0 29px;

    & ul {
      display: flex;
      flex-direction: row;
      width: 1010px;
      flex-wrap: wrap;
    }
  }
}

.active-color {
  color: var(--primary-color) !important;
}

.display-none {
  display: none !important;
}
