@mixin flexSet($arg...) {
  display: flex;
  justify-content: #{nth($arg, 1)};
  align-items: #{nth($arg, 2)};
  @if length($arg) == 3 {
    flex-direction: #{nth($arg, 3)};
  }
}

@mixin tableTemplate($arg) {
  tr {
    cursor: pointer;
    #{$arg} {
      padding: 25px 0;
      font-weight: 400;
      @if $arg == td {
        &:nth-child(3) {
          display: inline-block;
          width: 38px;
          max-height: 16px;
          padding: 0 4px;
          background-color: var(--primary-color);
          color: #fff;
          border-radius: 30px;
          font-size: 9px;
        }
      }
      &:first-child {
        width: 76px;
      }
      &:nth-child(2) {
        width: 592px;
      }
      &:nth-child(4) {
        width: 77px;
      }
      &:nth-child(5) {
        width: 100px;
      }
      &:nth-child(6) {
        width: 40px;
      }
      &:last-child {
        width: 80px;
      }
    }
    &:hover {
      background-color: #ddd;
    }
  }
}

@mixin resizeSet {
  .full-width {
    width: 100%;
  }

  .full-height {
    height: 100% !important;
  }
}
