.Nav-user-menu {
  height: 37px;
  display: flex;
  justify-content: center;

  > div {
    width: 55%;
    min-width: 680px;
    display: flex;
    justify-content: space-between;
    > div {
      height: 100%;

      &:first-child {
        width: 168px;
        display: flex;
        align-items: center;

        img {
          width: 100%;
          cursor: pointer;
        }
      }

      &:last-child {
        width: 278px;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
          height: 50%;
          font-size: 11px;
          font-weight: 800;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;
          padding-left: 5px;

          > div {
            margin-left: 10px;
          }

          &.signup {
            color: var(--primary-color);

            &:after {
              color: black;
            }
          }

          &:after {
            content: "|";
            position: absolute;
            top: 40%;
            right: 0;
            transform: translate(0, -50%);
          }

          &.help {
            position: relative;

            &:hover {
              & .qna-submenu {
                display: flex;
              }
            }

            i {
              margin-left: 3px;
            }

            .qna-submenu {
              border: 1px solid #dbdbdb;
              background-color: #fff;
              z-index: 2;
              position: absolute;
              width: 100px;
              height: 150px;
              top: 110%;
              left: -3px;
              flex-direction: column;
              display: none;

              span {
                height: 20%;
                padding-left: 7px;
                font-size: 11px;
                cursor: pointer;
                display: flex;
                align-items: center;
              }
            }
          }

          &.current-user {
            flex: 1.5;
            position: relative;
            > span:first-child {
              border: 1px solid rgba(128, 128, 128, 0.596);
              border-radius: 8px;
              padding: 3px;
              line-height: 11px;
              font-size: 10px;
            }

            .user-name {
              img {
                height: 10px;
                width: 10px;
              }
            }

            &:hover {
              .current-user-sub {
                display: flex;
              }
            }

            .current-user-sub {
              position: absolute;
              width: 100px;
              height: 170px;
              top: 110%;
              z-index: 1;
              right: 10%;
              background-color: #fff;
              border: 1px solid #dbdbdb;
              display: none;
              flex-direction: column;

              span {
                height: calc(100% / 7);
                display: flex;
                align-items: center;
                padding-left: 7px;
              }
            }
          }

          &:last-child {
            flex: 1.2;

            &:after {
              content: "";
            }
          }
        }
      }
    }
  }
}
