.MyPage {
  border: 1px solid #000;

  .my-kurly {
    border: 1px solid #000;
    padding-top: 70px;
    display: flex;
    justify-content: center;

    .my-kurly-container {
      border: 1px solid #000;
      width: 55%;
      min-height: 670px;
      display: flex;

      aside {
        border: 1px solid #000;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;

        .category-name {
          border: 1px solid #000;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-size: 30px;
            font-weight: bold;
          }
        }

        .category {
          border: 1px solid blue;
          height: 306px;

          > div {
            border: 1px solid red;
            height: calc(100% / 6);
            position: relative;

            span {
              font-size: 12px;
              position: absolute;
              top: 50%;
              left: 5%;
              transform: translateY(-50%);
              font-weight: bold;
            }

            i {
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
              font-size: 15px;
            }
          }
        }

        .help {
          border: 1px solid purple;
          margin-top: 20px;
          height: 49px;
          border-radius: 0 20px 20px 0;
          background-color: #f7f7f7;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          
          span:first-child {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
          }

          span:last-child {
            font-size: 12px;
          }
        }
      }

      main {
        border: 1px solid #000;
        height: 100%;
        flex: 3.5;
      }
    }
  }
}
