@import url(../../Styles/Common.styles.scss);

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  position: absolute;
  // padding: 20px;
  margin-bottom: 0;
  background-color: #333;

  // .left-side.container {
  //   width: 30%;
  //   height: 100%;
  //   padding: 10px;
  //   border-bottom: 1px solid white;

  .left-side.content {
    width: 350px;
    height: 450px;
    position: relative;
    transform-style: preserve-3d;

    &:hover > .front {
      transform: perspective(600px) rotateY(-180deg);
    }

    &:hover > .left-side.back {
      transform: perspective(600px) rotateY(0deg);
    }

    .left-side.front,
    .left-side.back {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      padding-left: 20px;
      backface-visibility: hidden;
      transition: transform 200ms linear;
    }

    .left-side.front {
      padding: 30px;
      text-align: left;
      line-height: 25px;
      color: #fff;
      transform: perpective(600px) rotateY(0deg);

      .logo {
        width: 120px;
        height: auto;
      }

      h2 {
        color: var(--primary-color);
        font-size: 22px;
        color: white;
      }

      h3 {
        font-size: 16px;
      }

      li p {
        font-size: 16px;
      }

      li span {
        color: var(--primary-color);
      }
    }

    .left-side.back {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: perspective(600px) rotateY(-180deg);

      .team-pic {
        height: 100%;
      }
    }
  }
  // }
}
