@import url("../../Styles/Common.styles.scss");

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 400px;
  margin-bottom: 0;
  z-index: 500;
  background-color: #333;
  opacity: 0.92;

  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 60px;

    .left-side.info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 420px;
      height: 350px;
      overflow: hidden;
      padding: 10px 0;
      text-align: left;
      line-height: 22px;
      color: #fff;

      .logo {
        width: 90px;
        height: auto;
      }

      .github-link.brokurly {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        color: white;
        z-index: 3;
        transition: opacity 500ms;

        h2 {
          font-size: 18px;
          color: white;
        }

        .github-link.contents {
          display: flex;
          align-items: center;
          width: 200px;
          position: absolute;
          left: 66%;
          color: white;
          transition: opacity 500ms;
        }

        &:hover i,
        &:hover h4 {
          opacity: 0.6;
        }

        i {
          opacity: 0;
          transition: opacity 300ms ease-out;
        }

        h4 {
          font-size: 14px;
          font-weight: 200;
          position: absolute;
          left: 11%;
          z-index: 2;
          opacity: 0;
          transition: opacity 300ms ease-out;
        }
      }

      h3 {
        font-size: 16px;
        text-shadow: 0 0 6px grey;
      }

      li {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
      }

      li::after {
        position: absolute;
        content: "";
        bottom: -0.1px;
        margin: 0 auto;
        left: 0.5%;
        width: 0%;
        background: white;
        transition: 500ms ease-out;
      }

      li:hover::after {
        width: 8%;
        height: 1px;
      }

      li p {
        font-size: 14px;
        position: relative;

        &:hover {
          text-shadow: 0 0 6px grey;
        }
      }

      li span {
        font-weight: 400;
        color: var(--primary-color);
      }

      li a {
        width: 160px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 66%;
        color: white;
        z-index: 3;
        transition: opacity 500ms;

        &:hover i,
        &:hover h4 {
          opacity: 0.8;
        }

        i {
          opacity: 0.3;
          transition: opacity 300ms ease-out;
        }

        h4 {
          font-size: 12px;
          font-weight: 200;
          position: absolute;
          left: 15%;
          z-index: 2;
          opacity: 0;
          transition: opacity 300ms ease-out;
        }
      }
    }

    .right-side.img-container {
      display: flex;
      align-items: center;
      height: 280px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 10px 2px grey;

      .image-stack {
        height: 100%;
        display: flex;
        position: relative;
        opacity: 0.7;
        transition: opacity 500ms;

        &:hover {
          opacity: 0.88;
        }

        img {
          height: 100%;
          box-shadow: 0 0 10px 1px grey;
          transition: all 800ms;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .copyright {
    font-size: 12px;
    color: white;
  }

  @media only screen and (max-width: 1150px) {
    .left-side.info {
      width: 380px;

      li {
        width: 80%;

        a {
          width: 20px;
          left: 95%;
        }
      }
    }

    .github.link.text {
      display: none;
    }

    .right-side.img-container {
      width: 360px;
    }
  }

  @media only screen and (max-width: 800px) {
    .right-side.img-container {
      display: none;
    }
  }
}
