@import url(../../Styles/Common.styles.scss);

.Footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 400px;
  position: absolute;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #333;

  .left-side.info {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 350px;
    overflow: hidden;
    padding: 20px 0;
    text-align: left;
    line-height: 22px;
    color: #fff;

    .logo {
      width: 100px;
      height: auto;
    }

    h2 {
      font-size: 18px;
      color: white;
    }

    h3 {
      font-size: 16px;
      text-shadow: 0 0 6px grey;
    }

    li {
      width: 100%;
      display: flex;
      position: relative;
    }

    li p {
      font-size: 14px;
      position: relative;

      &:hover {
        text-shadow: 0 0 6px grey;
      }
    }

    li p::after {
      position: absolute;
      content: "";
      bottom: -0.1px;
      margin: 0 auto;
      left: 0%;
      width: 0%;
      background: white;
      transition: 500ms ease-out;
    }

    li p:hover::after {
      width: 15%;
      height: 1px;
    }

    li span {
      color: var(--primary-color);
    }

    li a {
      position: absolute;
      right: 20%;
      color: white;
      z-index: 3;
      transition: opacity 500ms;

      &:hover {
        opacity: 0;
      }

      &:hover h4 {
        visibility: default;
      }
    }

    li h4 {
      font-size: 12px;
      font-weight: 200;
      position: absolute;
      right: 1%;
      z-index: 2;
      visibility: hidden;
    }
  }

  .right-side.container {
    display: flex;
    align-items: center;
    height: 290px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px 2px grey;

    .image-stack {
      height: 100%;
      display: flex;
      position: relative;
      opacity: 0.7;
      transition: opacity 500ms;

      &:hover {
        opacity: 0.88;
      }

      img {
        height: 100%;
        box-shadow: 0 0 10px 1px grey;
        transition: all 800ms;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
