.FrequentlyPurchase {
  .frequently-purchase-list-name {
    display: flex;
    height: 80px;

    span {
      &:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 500;
        flex: 1;
      }

      &:last-child {
        display: flex;
        align-items: center;
        color: #d7c5b3;
        font-size: 14px;
        flex: 5;
      }
    }
  }

  .frequently-purchase-list-container {
    position: relative;
    min-height: 125px;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid #dbdbdb;

    > span {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 12px;
      transform: translate(-50%, -50%);
    }
  }

  .select-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-top: 10px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 70%;
      margin: 0 10px;
      background-color: var(--primary-color);
      outline: none;
      border: none;
      cursor: pointer;

      &:first-child {
        background-color: white;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        font-weight: bold;
      }

      &:last-child {
        margin-right: 0;
        color: white;
        font-weight: bold;
      }
    }
  }
}
