@import "../../../Styles/Mix.styles.scss";

.ProductDetailsMain {
  min-height: 500px;
  margin-bottom: 50px;
  padding-top: 60px;
  font-weight: 200;

  & figure {
    width: 100%;
    height: 680px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .product-info {
    padding-top: 75px;

    & h1 {
      padding-bottom: 35px;
      color: #666;
      text-align: center;
      line-height: 46px;
      font-size: 38px;
      font-weight: 500;
      border-bottom: 1px solid #bfbfbf;
      @include flexSet(null, null, column);

      span:first-child {
        padding-bottom: 14px;
        line-height: 15px;
        font-size: 24px;
      }
    }
    & p {
      margin-bottom: 170px;
      padding-top: 28px;
      color: #373737;
      line-height: 32px;
      font-size: 18px;
    }

    .product-checkpoint {
      & h3 {
        padding-bottom: 70px;
        color: #666;
        font-size: 50px;
        font-weight: 500;
        @include flexSet(center, null);

        span {
          &:first-child {
            position: absolute;
            width: 1050px;
            height: 1px;
            margin-top: 24px;
            background: #bfbfbf;
          }

          &:last-child {
            position: relative;
            padding: 0 15px;
            background-color: #fff;
          }
        }
      }

      .checkpoint-info {
        margin-bottom: 170px;
        font-size: 18px;
        @include flexSet(space-around, null);

        div {
          .check-title {
            font-size: 23px;
            font-weight: 500;
            @include flexSet(null, flex-end);

            img {
              width: 90px;
            }

            span {
              padding-bottom: 30px;

              &:nth-child(2) {
                padding-left: 5px;
              }

              &:last-child {
                padding-left: 10px;
                color: #666;
                font-size: 20px;
                font-weight: 400;
              }
            }
          }

          ul {
            padding-top: 15px;
            list-style-type: disc;

            li {
              padding-bottom: 10px;
              text-indent: 25px;
            }
          }
        }
      }
    }
  }
}
