.CartItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;

  .cart-items-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 152px;
    margin-top: 30px;
    padding: 10px;

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      text-align: center;
      font-size: 40px;
      font-weight: 700;
    }

    p {
      color: #999;
      text-align: center;
      font-size: 16px;
    }
  }

  .cart-items-content {
    width: 55%;
    min-width: 800px;
    margin-top: 40px;
  }

  .price-result-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    min-width: 800px;
    height: 165px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 86px;
      height: 50%;
      font-size: 35px;
    }

    > div:not(:last-child) {
      height: inherit;
      border: 2px solid #dbdbdb;
    }

    .initial-price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 196px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .initial-price-text {
        height: 15%;
        font-size: 13px;
      }

      .initial-price-number {
        height: 25%;
        font-size: 23px;
      }
    }

    .discount-amount {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 196px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .discount-amount-text {
        height: 15%;
        font-size: 13px;
      }

      .discount-amount-number {
        height: 25%;
        font-size: 23px;
      }
    }

    .delivery-fee {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 196px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .delivery-fee-text {
        height: 15%;
        font-size: 13px;
      }

      .delivery-fee-number {
        height: 25%;
        font-size: 23px;
      }
    }

    .price-result {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 226px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .price-result-text {
        height: 15%;
        margin-top: 15px;
        font-size: 13px;
      }

      .price-result-number {
        height: 25%;
        color: var(--primary-color);
        font-size: 23px;
      }

      .mileage-point-info {
        height: 10%;
        color: var(--primary-color);
        font-size: 11px;
      }
    }

    .price-result-additonal-info {
      position: absolute;
      top: 110%;
      right: 0;
      display: flex;
      align-items: center;
      width: 300px;
      height: 18px;
      span {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        font-size: 11px;
      }
    }
  }

  .goto-order-page {
    display: flex;
    justify-content: center;
    width: 55%;
    margin-top: 40px;

    button {
      outline: none;
      cursor: pointer;
    }

    .goto-order-page-button {
      width: 200px;
      height: 48px;
      background-color: var(--primary-color);
      color: white;
      border: none;
      font-weight: bold;
    }
  }

  .warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    min-width: 900px;
    height: 80px;
    margin-top: 50px;
    background-color: #f7f7f7;

    .warning-text-top {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 40%;
      color: #999;
      font-size: 12px;
    }

    .warning-text-bottom {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 50%;
      height: 40%;
      color: #999;
      font-size: 12px;
    }
  }
}
