@import "../../Styles/Mix.styles.scss";

.ProductDetails {
  top: 200px;

  .product-screen {
    width: 1050px;
    margin: auto;
    padding-top: 20px;

    .product-main {
      margin-top: 50px;

      .product-categories {
        display: flex;
        border-bottom: 1px solid #bfbfbf;

        & li {
          position: relative;
          top: 1px;
          width: 170px;
          height: 47px;
          background-color: #f0f0f0;
          border: 1px solid #bfbfbf;
          line-height: 46px;
          font-size: 14px;
          border-left: 0px;
          cursor: pointer;
          transition: 0.3s ease;
          @include flexSet(center, center);

          &:first-child {
            border-left: 1px solid #bfbfbf;
          }

          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }
  .categories-actived {
    background-color: #fff !important;
    border-bottom: 0px !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.main-vertical-align {
  transform: translateY(-25%);
}
