.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 3px #fcfcfc;
  z-index: 10000;

  .logo {
    display: flex;
    justify-content: center;

    img {
      width: 103px;
      min-height: 100%;
    }
  }
}
