.OverlapCheck {
  display: inline-block;
  width: 120px;
  height: 42px;
  margin-left: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  color: var(--primary-color);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
}
